<main class="main  grid-item-col-main">

  <ul>

    <li>Common Commands</li>
    <li>chmod 555 filename  (for read only access)  777 for full</li>
    <li>chown owner filename  (change owner of file(s) </li>
    <li>ls -l  (list folder contents with access information)</li>
    <li>sudo -s  (gets root access)</li>
    <li>Good software to install:</li>
    <li>htop, neovim, nginx</li>
    <li></li>
    <li><a href="https://www.freecodecamp.org/news/grep-command-tutorial-how-to-search-for-a-file-in-linux-and-unix/" target="_blank">Using grep</a></li>
    <li>removing comments from file</li>
    <li>grep -v '^#'  file > new_file</li>
    <li>use find for finding files or folders</li>
    <li><a href="https://opensource.com/article/18/9/linux-iptables-firewalld" target="_blank">Linux Firewall info</a></li>
    <li>to unzip gz with tar: tar -xzvf archive.tar.gz</li>
    <li>to extract .tar use: tar -xvf archive.tar.gz</li>


  </ul>

</main>
