<main class="main grid-item-col-mid">
  <nav>
    <ul>
      <li>This page is being worked on, please try factcheck.org for information on facts.</li>
      <li><a href="https://factcheck.org" target="_blank">Fact Check Org</a></li>
      <li><a href="www.snopes.com" target="_blank">Snopes</a> is one of the oldest and most well-known fact-checking websites. It covers a wide range of topics, including politics, urban legends, and internet rumors.</li>
      <li><a href="www.politifact.com" target="_blank">PolitiFact</a> is a Pulitzer Prize-winning fact-checking website that focuses on statements made by politicians and other public figures. It rates the accuracy of these statements on its "Truth-O-Meter."</li>

    </ul>
  </nav>

</main>
