

<main class="main">
  <nav>
    <ul class="grid-item-col-mid">
      <li><a href="https://spaceweather.com/" target="_blank" >Space Weather</a></li>
      <li><a href="https://www.wunderground.com/" target="_blank">Weather Underground</a></li>
      <li><a href="https://www.wunderground.com/weather/pt/porto" target="_blank" >Portugal Weather</a></li>
      <li><a href="https://www.wunderground.com/hurricane" target="_blank">Hurricane Weather</a></li>
      <li><a href="https://earthquaketrack.com/recent" target="_blank">Earth Quakes</a></li>

    </ul>
  </nav>
</main>
