p {
    font-size: 15; /* Use any light color you prefer */
}
h1 { color: #adf}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}