<main class="main grid-item-col-mid">
  <nav>
    <ul>

      <li><a routerLink="ionos">Ionos-dyndns</a></li>
      <li><a routerLink="fedora">Fedora</a></li>
      <li><a routerLink="/nginx">Nginx</a></li>
      <li><a routerLink="/tor">Tor</a></li>


    </ul>
  </nav>
  <router-outlet></router-outlet>
  <h1>Useful Linux Commands</h1>
    <h2>Navigation Commands:</h2>
    <ul>
        <li><code>cd</code>: Change directory</li>
        <li><code>ls</code>: List directory contents</li>
        <li><code>pwd</code>: Print working directory</li>
        <li><code>mkdir</code>: Make directory</li>
        <li><code>rmdir</code>: Remove directory</li>
    </ul>

    <h2>File Management Commands:</h2>
    <ul>
        <li><code>cp</code>: Copy files and directories</li>
        <li><code>mv</code>: Move files and directories</li>
        <li><code>rm</code>: Remove files and directories</li>
        <li><code>touch</code>: Create an empty file</li>
        <li><code>cat</code>: Display file contents</li>
        <li><code>nano</code> or <code>vi</code>: Text editors for file editing</li>
    </ul>

    <h2>User Management Commands:</h2>
    <ul>
        <li><code>useradd</code>: Add a new user</li>
        <li><code>passwd</code>: Change user password</li>
        <li><code>usermod</code>: Modify user attributes</li>
        <li><code>userdel</code>: Delete a user</li>
    </ul>

    <h2>Permission and Security Commands:</h2>
    <ul>
        <li><code>chmod</code>: Change file permissions</li>
        <li><code>chown</code>: Change file owner and group</li>
        <li><code>sudo</code>: Execute a command with superuser privileges</li>
        <li><code>su</code>: Switch user or become superuser</li>
    </ul>

    <h2>System Information Commands:</h2>
    <ul>
        <li><code>uname</code>: Print system information</li>
        <li><code>df</code>: Report file system disk space usage</li>
        <li><code>free</code>: Display amount of free and used memory in the system</li>
    </ul></main>


