<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="main grid-container">

  <main>
    <nav class="grid-item-col-left" >
      <ul >
        <li><a routerLink="/weather" routerLinkActive="active" ariaCurrentWhenActive="page">Weather</a></li>
        <li><a routerLink="/linux" routerLinkActive="active" ariaCurrentWhenActive="page">Computer Stuff</a></li>
        <li><a routerLink="/grow" routerLinkActive="active" ariaCurrentWhenActive="page">Growing / Farming</a></li>
        <li><a routerLink="/privacy" routerLinkActive="active" ariaCurrentWhenActive="page">Privacy</a></li>

        <li><a routerLink="/software-development" routerLinkActive="active" ariaCurrentWhenActive="page">Software Development</a></li>
        <li><a routerLink="/where-is-truth" routerLinkActive="active" ariaCurrentWhenActive="page">Truth</a></li>
        <li><a routerLink="/useful-sites" routerLinkActive="active" ariaCurrentWhenActive="page">Useful Sites</a></li>
        <li><a routerLink="/privacy" routerLinkActive="active" ariaCurrentWhenActive="page">Privacy</a></li>

      </ul>
    </nav>
    <div>Powered by <a href="http://aklam.io/iK0pi9" target="_blank">Hosted with IONOS</a></div>

  </main>
  <router-outlet></router-outlet>
 
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

