<main class="main  grid-item-col-mid">

  <ul>


    <li>use brave browser</li>
    <li>use ubikey usb dongle</li>
    <li>Generally, online privacy is really difficult. Everything is connected.</li>
    <li>How your car steals your data.  hint (bluetooth) Your car captures your text messages.</li>
    <li>Concerning email. Unless you know who the email is from, DO NOT click on links from email, ever ever ever.</li>
    <li></li>
    <li><a routerLink="/tor" routerLinkActive="active" ariaCurrentWhenActive="page">Tor</a></li>
    <li></li>
    <li></li>
    <li></li>

  </ul>

</main>
