<main class="main grid-item-col-main">
    <ul>
      <li>If you are want to host a site, please use my link here if you are an IONOS user.</li>
      <li><a href="http://aklam.io/iK0pi9">IONOS</a></li>
      <li>The following instructions will allow for self hosting with IONOS</li>
      <li>First install the utility:</li>
      <li>pip install domain-connect-dyndns</li>
      <li>domain-connect-dyndns setup --domain</li>
      <li>Then update using:</li>
      <li>domain-connect-dyndns update --all</li>
      <li></li>
      <li>To add a cron job try this:</li>
      <li>crontab -e</li>
      <li>*/1 * * * * /usr/bin/flock -n /tmp/ipupdate.lck /usr/local/bin/domain-connect-dyndns update --all --config /root/dyndns/settings.txt</li>

      <li></li>


    </ul>

</main>
